services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: .
      # context: .
      # dockerfile: Dockerfile-build
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    # command: /bin/bash
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - .:/app
version: '3'
