commands:
  install_nodejs:
    command: |
      curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
      yum -y install nodejs
  install_yarn:
    command: |
      sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      yum -y install yarn
      
container_commands:
  yarn_install:
    command: 'yarn install'
    leader_only: true
  prepare_db:
    command: 'rails db:create db:migrate db:seed'
    leader_only: true
  seeddb_users:
    command: 'rails db:seed:small.seeds'
    leader_only: true
