<div class="backdrop text-center">
    <div class="flex-column index-options">
        <p id="notice"><%= notice %></p>
        
        <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/9/96/WeChat_logo_Android.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Whatever Chat</h1>
        <%= link_to "Login", '/login', {method: :get,  class: "btn btn-lg btn-primary btn-block text-white"} %>
        <%= link_to "Sign Up", '/users/new', {method: :get,  class: "btn btn-lg btn-secondary btn-block text-white"} %>
        <%= link_to "Unauthorized Access", '/whatever', {method: :get,  class: "btn btn-lg btn-secondary btn-block text-white"} %>
    </div>
</div>