<p id="notice"><%= notice %></p>

<h1>Welcome</h1>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= button_to "Login", '/login', method: :get%>
<%= link_to "Unauthorized Access", '/whatever', method: :get%>