// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-options {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}